/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #00457d; /* #eee*/
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  color: white;
  font-size: 15px;
}
/* for the + sign */
.collapsible:after {
  content: '\02795'; /* Unicode character + */
  font-size: 13px;
  color: white;
  float: left;
  padding-right: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character -  */
  color: white;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #0259a0;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ccdae5;
}

.pos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.inv {
   display: none;
}

.equipmentSelect {
padding-top: 5px;
padding-bottom: 5px;
}
/* Für die Text area im Formular */
.text {
width: 100%;
height: 75px;
resize: vertical
}

.button {
margin: 15px;
}

select, input {
padding-top: 5px;
padding-bottom: 5px;
}

label {
  font-weight: bold;
}

.autoWidth {
  width: auto !important;
}

h3 {
  text-align: center;
  color: rgb(129, 12, 12);
}

.notifyLabel {
  margin-left: 5px;
}

.submitButton {
  margin: 10px 0px;
}

.description {
  margin: 10px 0px;
}