td {
  vertical-align: middle;
}

.requestFail {
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

// select width fits content on small screens
select {
  min-width: 100%;
  width: auto;
}
